<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Acceso_Dades.Properties.Settings.SecureCoreConnectionString"
            connectionString="Data Source=DESKTOP-2991IQ4\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>