<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Acceso"
            connectionString="Data Source=den1.mssql7.gear.host;Persist Security Info=True;User ID=ultracore;Password=Vo9976Y!-F6Z"
		providerName="System.Data.SqlClient" />
		<add name="AccesoMario"
            connectionString="Data Source=DESKTOP-2991IQ4\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"

            providerName="System.Data.SqlClient" />
		<add name="AccesoNik"
            connectionString="Data Source=ATHERIS\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="AccesoMiguel"
            connectionString="Data Source=LAPTOP-99OC5OLH\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>