<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="AccesoMario"
            connectionString="Data Source=DESKTOP-2991IQ4\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="AccesoNik"
            connectionString="Data Source=ATHERIS\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>