<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Acceso"
            connectionString="Data Source=den1.mssql7.gear.host;Persist Security Info=True;User ID=ultracore;Password=Vo9976Y!-F6Z"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>